/*
!/.gitignore
!/.gitconfig
!/CONTRIBUTING.md
!/README.md
!/SUPPORTERS.md
!/.*
!/etc
/etc/tvctop.info
/*.pyc
/.DS_Store
/Desktop.ini
/Thumbs.db
/.Spotlight-V100
/.Trashes
/.bash_history
/.bash_logout
/.*bk
/*bk
/.coffee_history
/.cpan
/.cpan/*
/.cpanel
/.cpanel/*
/.cpanel-datastore
/.cpcpan/*
/.cpobjcache
/dev
/.fontconfig
/.gem
/.gitconfig
/.gnupg
/.htpasswds
/.HttpRequest
/init
/.lftp
/Library
/.linuxbrew
/.linuxbrew/*
/linux-dotfiles
/logs
/mail
/.MirrorSearch
/myFile
/.mysql_history
/.npm
/public_ftp
/public_html
/ruby
/sbin
/bin
/.searchindex
/.searchblurb
/shared
/tmp
/.ssh
/var
/vim
/apt
/.vim
